[submodule "TestDemain-backend"]
	path = TestDemain-backend
	url = https://github.com/MGsus/TestDemain-backend
[submodule "TestDemain-frontend"]
	path = TestDemain-frontend
	url = https://github.com/MGsus/TestDemain-frontend
